@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Vollkorn&display=swap');

  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Roboto", sans-serif;
    scroll-behavior: smooth;
}
:root{
--primary-text-color:#1c1f32;
--secondary-text-color:#577592;
 --primary-color:#283593;
 --secondary-color:#3F51B5;
 --accent-color:#8C9EFF;
 --accent-dark-color:#1A237E;
 --padding-inline-section:20px;
}
section
{
    margin-bottom:30px;
}
.container{
    max-width:1180px;
    margin-inline: auto;
    max-height: fit-content;
    padding:30px var(--padding-inline-section) 20px;
    overflow: hidden;
}

hr{
    background-color: lightgray;
    height: 15px;
    border-top: none;
}
/* utility styles */
.flex{
 display:flex;
 align-items: center;
 /* justify-content: space-between; */
}

.hover-link{
    color: whitesmoke;
    transition: 0.2s ease-out;
    font-weight: bold;
    padding: 10px;
    
}

.hover-link:hover{
    background-color: #ffffff7d;
    padding: 10px;
    border: none;
    border-radius: 16px;
    color: var(--accent-dark-color);
    transform: scale(1.1);
    transition: 0.5s ease;
}
h1{
  font-size: 2.25rem;
}

h2{
 font-size: 1.5rem;
}

p{
  font-size: 1.2rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

.heading-text{
    text-align: center;

}
.primary-button{
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.primary-button:hover{
    background-color: var(--accent-dark-color);
    transition: 1s ease;
}
.secondary-button{
    background-color:transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
}
.secondary-button:hover{
    transform: scaleX(1.1);
    transition: all 0.5s ease;
}
