
/* CERTIFICATE SECTION */
#certification-section{
  background-color:var(--primary-text-color);
  padding: 30px;
}

.certificate-container{
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  /* row-gap: 60px; */
} 

.certificate-box{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width:300px;
  height: 200px;
  color: rgb(66, 155, 172);
  letter-spacing: normal;
  

  
}
.certificate-box img{
  width:80%;
  height: 80%;
  /* padding: 5px;
  border: 1px solid white; */
  
}
/* .certificate-box img:hover{
  transform: scale(1.8);
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
} */


/* .certification-section{
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
}
.certificate{
  padding: 10px;
  background-color: var(--secondary-color);
  border: 5px solid var(--primary-color);
}
.certificate-img{
  width: 220px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .certification-section{
  max-height: 500px;
  padding: 30px 40px;
  color: white;
  background-color: var(--secondary-color);
}
.certificate-box{
  height:350px;
  width: 500px;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.69);
}

.certificate-img{
  height:100%;
  width:100%;
  background-size: cover;
} */


/* .card-container{
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap:10px;
    position: relative;
    
  } */
 /* .arrow{
  height: 40px;
  position: absolute;
}
 .arrow-left{
transform: rotate(180deg);
left: 100px;
  }
  .arrow-right{
    right: 100px;
  } 
  #certification-section{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

 .slider{
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;

  } 

  /*.certificate-container{
    width: 100vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .certificate-box{
    height:350px;
    width: 500px;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.69);
  }
  
  .certificate-img{
    height:100%;
    width:100%;
    background-size: cover;
  }
   */

/* .transparent-card{
    background: #ffffff7d;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(255, 255, 255, 1);

}
  .card-left{
  color:white;
  font-size: 2.5rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  width: 30%;
  padding: 20px;
}

.card-right{
height:200px;
background: rgba(255, 255, 255, 0.69);
justify-content: center;
} */

/* .certificate-img{
    width:100%;
    height: 100%;
    border-radius: 16px;
    border: 5px solid gray;
    background-size: cover;
   
}*/